/* You can add global styles to this file, and also import other style files */
html, body{
    padding: 0;
    margin: 0;
}

*{
    outline: none;
}
/*
lotta
glass tiffin
coffee
detool refil
vim refil
ginger garlic paste
gulab jal
washing detergent
rin soap
hair oil
underwear
body wash
body lotion
plum kit
electric kettle
gret hr attendance
*/